/* *{border: dotted 1px red;} */
.mainbody{
    max-width: fit-content;
    margin: auto;
}
.content{
    margin-top: 20px;
    margin-right: 50px;
    width: 400px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    background-color: #7fbfbf;
}
#content2{
    margin-left: 50px;
    margin-right: 0;
}
.between{
    /* background-color: aliceblue; */
    width: 200px;
    height: 600px;
    display: inline-block;
}
.between img{
    height: 70px;
    width: 200px;
    margin-top: 100px;
    display: block;
}
#left{
    height: 70px;
    width: 175px;
    margin-top: 20px;
    margin-left: 15px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    margin-top: 5px;
    margin-left: 85px;
}
.item{
    width: 200px;
    height: 250px;
    margin-top: 20px;
    margin-left: 90px;
}
.content .btn {
    margin-left: -100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 1px 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.content .btn:hover {
    background-color: black;
}
.description{
    height: 100px;
    width: 300px;
    margin-left: 45px;
    margin-top: 20px;
}
.iteminfo{
    width: 300px;
    margin-left: 60px;
    margin-top: 10px;
}
.arrows-body{
    margin-top: 90px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}
.L-arrow{
    position: relative;
    width: 60px;
    height: 60px;
    border-top: 12px solid black;
    border-left: 12px solid black;
    transform: rotate(-45deg);
    animation: arrow-load2 2s infinite;
}
.L-arrow:nth-child(1){
    left: 25px;
    animation-delay: -0.4s;
}
.L-arrow:nth-child(2){
    animation-delay: -0.2s;
}
.L-arrow:nth-child(3){
    right: 25px;
}
.R-arrow{
    position: relative;
    width: 60px;
    height: 60px;
    border-right: 12px solid black;
    border-bottom: 12px solid black;
    transform: rotate(-45deg);
    animation: arrow-load1 2s infinite;
}
.R-arrow:nth-child(3){
    right: 25px;
    animation-delay: -0.4s;
}
.R-arrow:nth-child(2){
    animation-delay: -0.2s;
}
.R-arrow:nth-child(1){
    left: 25px;
}

@keyframes arrow-load1{
    0%{
        opacity: 0;
        transform: rotate(-45deg) translate(-60px,-60px);
    }
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-45deg) translate(60px,60px);
    }

}
@keyframes arrow-load2{
    0%{
        opacity: 0;
        transform: rotate(-45deg) translate(60px,60px);
    }
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-45deg) translate(-60px,-60px);
    }

}
.css-button{
    color:aliceblue;
    background-color: #008080;
	box-shadow: inset 1px 1px 0px 0px #BBDAF7;
    height: 70px;
    width: 180px;
    margin-top: 220px;
    margin-left: 10px;
}
.css-button:hover {
	background: #329999;
}

/* Jack */
* {  box-sizing: border-box ;;}


/* Start Page */
#sign-up-btn {line-height: 50px; text-align: center; padding: 0; color: white; margin-left: 5px;}

#log-in-btn {line-height: 50px; text-align: center; padding: 0; color: white;}

#log-sign {display: flex;}


/* New Header */

#Head-navi { display: flex; width: 102%; height: 57px; margin-left: -12px; position: fixed; }

#nav-bar {background-image: linear-gradient( #000, #008080);}

/* NEW HEADER */



/* header */
#main-bg { font-family: sans-serif;}

#header-bg {background-image: linear-gradient( #000, #008080); display: flex; justify-content: flex-end; width: 102%; height: 57px;  }

#profile-img {border-radius: 100%; height:45px; margin-top: 1px;} 

#profile-name {line-height: 50px; text-align: center; padding: 0; color: white;}

#search-bar {width: 90%; padding: 0 ; margin-top: 15px; height: 40%;}

#searchicon-box {display: flex;}

#search-icon {margin-top: 25px; height: 7%;}

#icon-box {display: flex; justify-content: flex-end; line-height: 50px;}


#icons {margin-top: 30px; margin-left: 20px ; margin-right: 30px ;height: 10%;}

#icons:hover {transform: scale(2); z-index: 2;}


#icon-fb {display: flex;}

#icons-1 {line-height: 30px; margin-left: 10px;}

#logo {padding: 0;height:55px; width: auto; margin-left: -12px; }

#logo-box {display: flex; justify-content: flex-start; padding: 0;}

#space-color {background-color: rgb(255, 255, 255);}

#fb { width: 40px; margin-top:42px; margin-left: -15px;}

#follow-us {width: 130px; font-size: 15px ; font-weight: bold; margin-left: -10px; line-height: 30px; color: white;}

#fbrow {display: flex; ; margin-left: 225px; }

#spacing {}

/* body */

#ads-color {background-color:#008080 ; display: flex;height: 250px;  width: 102%;}

#ads1 { height: 100%; width: 115%;}

#image-ad {margin-top: 60px; }

#image-ad:hover {transform: scale(1.2); z-index: 1;}

#Toptrade-txt { margin-top: 20px; font-weight: 100px; color: rgb(0, 0, 0);background-color:#008080 } 

#hot-items-text {text-align: center; font-size: 35px; font-weight: bolder; height: 50px; color: white; margin-bottom: 10px;}

#body1 {margin-top: 70px;}

#profile-body {border-radius: 100%; height: 55px;}

#first-product-mainbox {display: flex;}

#product1-box {margin: 0px 10px 0px 10px; border: solid #2c2e2f 1px; background-color: rgb(255, 255, 255);box-shadow: 0 0 2px 2px  rgba(0,0,0, .1);}



#product1-box:hover {transform: scale(1.03); z-index: 1;}

#product1-body-box {display: flex; height: 60px; background-color:#ffffff ;}

#profile1-body-name { line-height: 50px; margin-left: 10px; font-weight: bold;}

#product1-image {width: 100%; height: 150PX; border: solid rgb(245, 201, 201) 1px;}

#product1-txt-box {display: flex; flex-direction: column;}

#product1-txt-lead {font-weight: bold; font-size: 14px;background-color:#ffffff }

#product1-txt {font-size: 12px; margin-top: -20px;background-color:#ffffff }

#trade-buy-btn {display: flex; justify-content: center; margin-top: -15px;}

#product1-trade-btn {margin-right: 15px; width: 60px;}

#product1-buy-btn { width: 60px;}

#bg-color {background-color:#008080 }

#recently-add-text {text-align: center; font-size: 35px; font-weight: bolder; height: 50px; color: white; margin-bottom: 10px; background-color: #008080;}

#recently-add-text { margin-top: 20px;font-weight: 100px; color: rgb(255, 255, 255);background-color:#008080;}


#trending-prod {font-size: 28px; font-weight: bold; color: white;background-color: #008080;}

#product-style{width: 300px; height: 100%;}

#pro-box {box-shadow: 0 0 7px 2px  rgba(0,0,0, .1); display: flex; flex-direction: column;}

#pro-box img {display: block; width: 100%; border-radius: 5px; }

#pro-box:hover {transform: scale(1.03); z-index: 2;}




/* Header End */


/* NAV BAR */
#sidebar {position: absolute;
    width: 158px;
    height: 100%;
    background: #113434;
    color: white;
    left:-160px;
    transition: .4s;
    float: left;
    top: 0;
    bottom: 0;
    }
    
    #sidebar.active{
        left: 0;
       
    }
    
    #sidebar ul li {
        list-style: none;
        color: #fff;
        font-size: 20px;
        padding: 10px 4px;
        width: 128%;
    }
    
    #sidebar .toggle-btn {
        position: absolute;
        top:5px;
        left: 180px;
    
    }
    .toggle-btn span{
        width: 55px;
        height: 5px;
        background: #ffffff;
        display: block;
        margin-top: 5px;
    }

    #nav-color {background-color: #113434 ; width: 144px; margin-left: -35px; text-align: start;}

    #nav-color-space {height: 500px;background-color: #113434 ;margin-left: -35px;}
    
    #nav-home { list-style: none;
        color: #fff;
        font-size: 20px;
        margin-left: -30px;
        height: 100%;
    }
    a {text-decoration: none; color: white;}

    a:hover {transform: scale(1.03); z-index: 2;}

    /* end nav bar */

    /* Starting PAGE */

    #barter { margin-top: 10px; margin-left: -15px; height: 500PX;}

    #side-content-homepage {background-color: #f9fafa; height: 550PX; margin-top: 10PX; width: 330px; color: white; font-size: 25px; padding: 5px;}

    #side-content-homepage-spacing {margin-bottom: 10px;}
    
    #second-content-homepage {margin-top: 130px; margin-left: 265px; width: ; display: flex;}

    #content-third {width: 650px; height: 600px; margin-left: -60px;}

    #content-third-text {width: 650px;margin-left: -60px;}

    #content-third-2nd {width: 600px; margin-top: -20px; margin-left: -30px; height: 280px; }

    #content-third-text-1 {width: 530px;}

    #content-third-2nd-1 {width: 520px; margin-top: -10px; height: 280px; }

/* Jack */

/* FOoter */

/* footer */
#lower{
    width: 108%; height: fit-content; background-color: black; margin-top: 0px;
}
#spacing{
    width: 1202px; height: 30px; background-color: black;
}
#rr{
  margin-left: 7px; padding-top: 2px; 
}
#firstgroup{
   width: 150px; height: 130px; margin: 50px 50px 0px 130px; display: inline-block;
}
.pages1{
   color: white; font-size: 13px; margin: 4px 0px 4px 0px;
}
#group23{
   width: 150px; height: 130px; margin: 50px 30px 0px 30px; display: inline-block; vertical-align: top;
}
#group4{
   width: 150px; height: 130px; margin: 50px 0px 0px 0px; display: inline-block; vertical-align: top;
}
#rt2{
   background-color: gray; max-width: 100%; height: fit-content; background-color: black; 
}
#rt3{
  margin-top: 5px;
}
#rt3a{
   width: 20px; height: 20px; display: inline-block; 
}
#textrt{
   font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;
}
#textrt1{
   font-size: 13px; color: gray; vertical-align: top; display: inline-block; width: 550px; text-align: top; margin-left: 60px;
}
#TLogo{
    width: 150px; height: 70px; margin-left: 120px;
}
#lower1{
    text-align: center;
}
a:link {
    text-decoration: none;
}

/* Footer */
