* {  box-sizing: border-box ;;}


/* Start Page */
#sign-up-btn {line-height: 50px; text-align: center; padding: 0; color: white; margin-left: 5px;}

#log-in-btn {line-height: 50px; text-align: center; padding: 0; color: white;}

#log-sign {display: flex;}


/* New Header */

#Head-navi { display: flex; width: 102%; height: 57px; margin-left: -12px; position: fixed; }

#nav-bar {background-image: linear-gradient( #000, #008080);}

/* NEW HEADER */



/* header */
#main-bg { font-family: sans-serif;}

#header-bg {background-image: linear-gradient( #000, #008080); display: flex; justify-content: flex-end; width: 102%; height: 57px;  }

#profile-img {border-radius: 100%; height:45px; margin-top: 1px;} 

#profile-name {line-height: 50px; text-align: center; padding: 0; color: white;}

#search-bar {width: 90%; padding: 0 ; margin-top: 15px; height: 40%;}

#searchicon-box {display: flex;}

#search-icon {margin-top: 25px; height: 7%;}

#icon-box {display: flex; justify-content: flex-end; line-height: 50px;}


#icons {margin-top: 30px; margin-left: 20px ; margin-right: 30px ;height: 10%;}

#icons:hover {transform: scale(2); z-index: 2;}


#icon-fb {display: flex;}

#icons-1 {line-height: 30px; margin-left: 10px;}

#logo {padding: 0;height:55px; width: auto; margin-left: -12px; }

#logo-box {display: flex; justify-content: flex-start; padding: 0;}

#space-color {background-color: rgb(255, 255, 255);}

#fb { width: 40px; margin-top:42px; margin-left: -15px;}

#follow-us {width: 130px; font-size: 15px ; font-weight: bold; margin-left: -10px; line-height: 30px; color: white;}

#fbrow {display: flex; ; margin-left: 225px; }

#spacing {}

/* body */

#ads-color {background-color:#008080 ; display: flex;height: 250px;  width: 102%;}

#ads1 { height: 100%; width: 115%;}

#image-ad {margin-top: 60px; }

#image-ad:hover {transform: scale(1.2); z-index: 1;}

#Toptrade-txt { margin-top: 20px; font-weight: 100px; color: rgb(0, 0, 0);background-color:#008080 } 

#hot-items-text {text-align: center; font-size: 35px; font-weight: bolder; height: 50px; color: white; margin-bottom: 10px;}

#body1 {margin-top: 70px;}

#profile-body {border-radius: 100%; height: 55px;}

#first-product-mainbox {display: flex;}

#product1-box {margin: 0px 10px 0px 10px; border: solid #2c2e2f 1px; background-color: rgb(255, 255, 255);box-shadow: 0 0 2px 2px  rgba(0,0,0, .1);}



#product1-box:hover {transform: scale(1.03); z-index: 1;}

#product1-body-box {display: flex; height: 60px; background-color:#ffffff ;}

#profile1-body-name { line-height: 50px; margin-left: 10px; font-weight: bold;}

#product1-image {width: 100%; height: 150PX; border: solid rgb(245, 201, 201) 1px;}

#product1-txt-box {display: flex; flex-direction: column;}

#product1-txt-lead {font-weight: bold; font-size: 14px;background-color:#ffffff }

#product1-txt {font-size: 12px; margin-top: -20px;background-color:#ffffff }

#trade-buy-btn {display: flex; justify-content: center; margin-top: -15px;}

#product1-trade-btn {margin-right: 15px; width: 60px;}

#product1-buy-btn { width: 60px;}

#bg-color {background-color:#008080 }

#recently-add-text {text-align: center; font-size: 35px; font-weight: bolder; height: 50px; color: white; margin-bottom: 10px; background-color: #008080;}

#recently-add-text { margin-top: 20px;font-weight: 100px; color: rgb(255, 255, 255);background-color:#008080;}


#trending-prod {font-size: 28px; font-weight: bold; color: white;background-color: #008080;}

#product-style{width: 300px; height: 100%;}

#pro-box {box-shadow: 0 0 7px 2px  rgba(0,0,0, .1); display: flex; flex-direction: column;}

#pro-box img {display: block; width: 100%; border-radius: 5px; }

#pro-box:hover {transform: scale(1.03); z-index: 2;}




/* Header End */


/* NAV BAR */
#sidebar {position: absolute;
    width: 158px;
    height: 100%;
    background: #113434;
    color: white;
    text-decoration: none;
    left:-160px;
    transition: .4s;
    float: left;
    top: 0;
    bottom: 0;
    }
    
    #sidebar.active{
        left: 0;
       
    }
    
    #sidebar ul li {
        list-style: none;
        color: #fff;
        font-size: 20px;
        padding: 10px 4px;
        width: 128%;
    }
    
    #sidebar .toggle-btn {
        position: absolute;
        top:5px;
        left: 180px;
    
    }
    .toggle-btn span{
        width: 55px;
        height: 5px;
        background: #ffffff;
        display: block;
        margin-top: 5px;
    }

    #nav-color {background-color: #113434 ; width: 144px; margin-left: -35px; text-align: start;}

    #nav-color-space {height: 500px;background-color: #113434 ;margin-left: -35px;}
    
    #nav-home { list-style: none;
        color: #fff;
        font-size: 20px;
        margin-left: -30px;
        height: 100%;
    }
    a {text-decoration: none; color: white;}

    a:hover {transform: scale(1.03); z-index: 2;}

    /* end nav bar */

    /* Starting PAGE */

    #barter { margin-top: 10px; margin-left: -15px; height: 500PX;}

    #side-content-homepage {background-color: #f9fafa; height: 550PX; margin-top: 10PX; width: 330px; color: white; font-size: 25px; padding: 5px;}

    #side-content-homepage-spacing {margin-bottom: 10px;}
    
    #second-content-homepage {margin-top: 130px; margin-left: 265px; width: ; display: flex;}

    #content-third {width: 650px; height: 600px; margin-left: -60px;}

    #content-third-text {width: 650px;margin-left: -60px;}

    #content-third-2nd {width: 600px; margin-top: -20px; margin-left: -30px; height: 280px; }

    #content-third-text-1 {width: 530px;}

    #content-third-2nd-1 {width: 520px; margin-top: -10px; height: 280px; }


    /* CHAT PAGE */


/* Seller page */

.be-a-seller-txt{
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    color: #000000;
    text-shadow: #000;
    text
    ;
}

#container-seller {
    
}

.seller-text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
}



/* Rhem */
#container{
    padding: 50px; background-color: whitesmoke; 
}

h3{
    text-align: center; padding: 50px 0px 0px 0px;
}
h2{
    text-align: center; padding: 10px;
}
h6{
    text-align: center; padding: 15px 0px 10px 0px;
}
#border{
    border: 0.5px solid #098b27; border-radius: 7px; 
}
.Regions{
    text-align: center; display: flex; margin-top: 30px; font-size: 12px; margin-left: 70px;
}
.Regions ul{
    list-style: none; display: flex; 
}
.Regions ul li{
    padding: 0px 50px 0px 0px; position: relative;
}
.Regions ul li a{
    font-size: 12px; text-decoration: none; color: black; transition: all 0.3s;
}
.Regions ul li a:hover {
    color: gray;
}
.dropdown_menu{
    display: none;
}
.Regions ul li:hover .dropdown_menu{
    display: block; position: absolute; left: 0; top: 100%; background-color: white;
}
.Regions ul li:hover .dropdown_menu ul{
    display: block; margin: 10px; 
}
.Regions ul li:hover .dropdown_menu ul li{
    width: 350px; padding: 10px; margin-left: -50px;
}
.fas{
    float: right; margin-left: 10px; padding-top: 3px;
}
.dropdown_menu1{
    display: none;
}
.dropdown_menu ul li:hover .dropdown_menu1{
    display: block; position: absolute; top: 0; left: 365px; background-color: white;
}
.city{
    display: none;
}
.dropdown_menu1 ul li:hover .city{
    display: block; position: absolute; top: 0; left: 365px; background-color: white;
}
input [type=tel]{
    width: 20px; padding: 5px 0 5px 0;
}
input.code{
    width: 5%; 
}
input [type=text]
input [type=email]
textarea{
    padding: 15px 0; margin: 5px 0; display: inline-block; border: none; background-color: #f1f1f1; 
}
input[type=text]:focus,
textarea :focus {
    background-color: #ff6f67; outline: none;
}
div {
    padding: 5px 0;
}
hr {
    border: 0.5px solid #f1f1f1; margin-bottom: 25px;
}
.submit {
    background-color: #098b27;
    color: white; 
    padding: 16px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    display: inline-block;
} 
#txt{
    margin-left: 100px;
}
#Address{
    height: 70px; width: 70%; margin-bottom: 5px; border: 0.5px solid #098b27; border-radius: 7px; text-align: center; padding-top: 20px; margin-left: 100px; display: block;
}
#tin{
    width: 100%; height: 70px; border: solid 1px #ff6f67; text-align: center; margin-top: 30px; text-align: center; border-radius: 7px; padding-top: 5px;
}
#Next{
    padding-top: 2rem; 
}
#slider{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}
#slider label{
    cursor: pointer;
    text-decoration: none;
}
#slides {
    padding: 10px; 
    border: 1px solid #098b27;
    background: #f0f0da;
    position: relative;
    z-index: 1;
}
#overflow{
    width: 100%; 
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 350px;
}
#slides .slide{
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    color: black;
}
#slides .slide_1 {
    background-color: #f0f0da;
}
#slides .slide_2 {
    background-color: #f0f0da; 
}
#slides .slide_3 {
    background-color: #f0f0da;
}
#slides .slide_4 {
    background-color: #f0f0da;
}
.slide-content {
    padding: 10px; text-align: center;
}
#controls {
    margin: -130px 0 0 0;
    width: 100%;
    height: 50px;  
    z-index: 3;
    position: relative;
}
#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}
#controls label:hover {
    opacity: 1;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons.svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block; 
}
#bullets {
    margin: 100px 0 0;
    text-align: center;
}
#bullets label{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #098b27;
    margin: 0 10px;
}
.hide{ display: none; }
.tr{
    width: 600px; height: 40px; text-align: center; margin: 0px; border: .5px  solid #098b27; border-radius: 7px;
}
#tr1{
    width: 600px; height: 40px; text-align: center; border: .5px  solid #098b27; border-radius: 7px;
}
#text1{
    margin: 20px 0 0 0; margin-left: -400px; display: block; 
}
#text2{
    margin: 20px 0 0 0; margin-left: -50px; display: block; 
}
#text3{
    margin: 10px 0 0 0; display: block; text-align: center; border: solid 1px #ff6f67; text-align: center; border-radius: 7px; padding: 5px; max-width: fit-content; margin-left:350px;
}
.upload-btn-wrapper {
    position: relative;
}
#text4{
    margin: 20px 0 0 0; display: block; text-align: center;
}
.btn{
    padding: 100px;
}
.text5{
    margin: 10px 0 0 0; display: inline-block; text-align: center; border: solid 1px #ff6f67; text-align: center; border-radius: 7px; padding-top: 5px; max-width: fit-content; margin-left: 110px;
}
#text6{
    margin: 10px 0px 5px 0px; text-align: center; display: inline-block;
}
#BStyle{
    margin: 15px 0px 5px 0px; width: 600px; height: 100px; display: block; text-align: center; border: solid 1px #098b27; border-radius: 7px; padding-top: 40px;
}
#txt1{
    max-width: fit-content; height: 30px; border: solid 1px #ff6f67 ; border-radius: 7px; padding: 13px; text-align: center; margin-left: 300px;
}

/*--------Responsive webdesign--------*/
@media screen and (max-width:521px){
    *{box-sizing: border-box;}
    .container{
        min-height:100%;
    }
    div{
        margin:  10px 0px 20px 0px; 
    }
    input{
        margin:  10px 0px 20px 0px;
    }
    label{
        margin:  10px 0px 20px 0px;
    }  
    h6{
        padding: 5px 0px 10px 0px; margin-top: -10px; max-width: fit-content; max-height: fit-content;
    }
    #Next{
       display: block; max-width: fit-content; max-height: fit-content; margin-left: 50px;
    } 
    .Regions{
        text-align: center; display: flex; margin-top: 30px; font-size: 12px; margin: 0px; max-width: fit-content; max-height: fit-content;
    } 
    .Regions ul li:hover .dropdown_menu ul li{
        width: 160px; padding: 0px; margin-left: -30px; 
    }
    .dropdown_menu ul li:hover .dropdown_menu1{
        width: 180px; left: 175px;
    }
    .dropdown_menu1 ul li:hover .city{
        width: 100px; left: 175px; text-align: left;
    }
    .fas{
        float: right; margin-left: 15px; padding-top: 0px;
    }
    .dropdown_menu{
        margin-left: -20px;
    }
    #txt{
        margin-left: 20px; display: inline-block;
    }
    #Address{
       margin-left: 50px; display: inline-block;
    }
    #tin{
        height: 80px; max-width: fit-content; max-height: fit-content;
    }
    .tr{
        width: 300px; height: 40px; display: block; margin-left: 70px;
    }
    #text1{
        margin-left: 20px; max-width: fit-content; max-height: fit-content;
    }
    #text2{
        display: block; max-width: fit-content; max-height: fit-content;
    }
    #tr1{
        width: 300px; height: 40px; text-align: center; margin-top: 10px; max-width: fit-content; max-height: fit-content;
    }
    #text3{
        width: 700px; margin-left: 5px; height: 30px; padding: 5px;
    }
    h2{
        text-align: center; 
    }
    #slides .inner {
        height: 400px;
    }
    .btn{
        padding-top: 10px;
    }
    #text5{
        margin-left: 10px; height: 30px;
    }
    #text6{
        display: block;
    }
    #BStyle{
        display: block; width: 450px;
    }
    .container2{
        display: block; z-index: 1; margin-left: -50px;
    }
   
}